nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    background-color: red;
    color: black;
    height: 6rem;

    padding: 0 2.4rem;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3rem;

}